<%= content_tag :header, marketing_text('card_previews', 'your', 'personality', 'header') %>
<%= marketing_text('card_previews', 'your', 'personality', 'cusp_picker') %><br>
<div id="zodiac_options">
  <%= zodiac_picker_for @member, @birthday %>
</div>
<%= marketing_text('card_previews', 'your', 'personality', 'cusp_unsure') %> <%= mail_to marketing_text('card_previews', 'your', 'personality', 'email'), 'email us', :id => 'zodiac_email' %> <%= marketing_text('card_previews', 'your', 'personality', 'cusp_unsure_two') %>
